<!doctype html>
<html>
<head>
   <title>forexbulb</title>
   <link rel="stylesheet" type="text/css" href="/public/css/forexbulb.css"> 
</head>
<body>
  <div id="logo">
    <img id="bulb" src="/public/images/WR.png" style= "width:18%">
    
  </div>

  <div id="title">Journal</div>
  <div id="par">
The motivation for creating this site is to generate forex ideas.
Much of what this site is going to contain will be related to trading strategies, data analysis and <i>validation techniques</i>.
<br><br>
There are three ideas that are to be thoroughly developed in the near future. These are <b> simple moving average crossover, neural networks and genetich algorithms. </b> In order to elaborate the analysis previously mentioned, data from several currency pairs will be passed to this page and it will be rendered with the use of visualization techniques for this is one of the most crucial ingridients for validation research and strategy discovery.
<br><br>
The following tasks to work in are the following:
  <ul style="color:red">
    <li>Use MongoDb to provide the information to render the contents of this page.</li>
    <li>Establish the main topics that are to function as areas of discussion.</li>
    <li>Generate graphs.</li>
  </div>

</body>
</html>
