<!doctype html>
<html>
<head>
   <title>forexbulb</title>
   <link rel="stylesheet" type="text/css" href="/public/css/forexbulb.css"> 
</head>
<body>
  <div id="logo">
    <img id="bulb" src="/public/images/WR.png" style= "width:18%">
    
  </div>

  <div id="title">Ideas</div>
  <div id="par">
The motivation for creating this site is to generate forex ideas.
Much of what this site is going to contain will be related to trading strategies, data analysis and <i>validation techniques</i>.
<br><br>
There are three ideas that are to be thoroughly developed in the near future. These are <i> Simple Moving Average Crossovers, Artificial Neural Networks and Genetic Algorithms. </i> In order to accomplish these types of analysis, data from several currency pairs will be fed to this page and it will be rendered with the use of visualization techniques.
<br><br>
Creative visualizations are a crucial component for both strategy discovery and opportunity communication; in other words, visualization techniques can be useful to portray what to focus on to increase the likelihood of making a profit and what are the specif steps to achieve that.
<br><br>
The tasks to work in are the following:
  <b><ul style="color:red">
    <li>Use MongoDB to store and query the information in order to render the contents of this page.</li>
    <li>Establish the main areas of discussion.</li>
    <li>Generate graphs.</li></b>
  </div>

</body>
</html>
